*{
    padding: 0;
    margin: 0;
}
:root{
    --main-color:green;
}
a{
    text-decoration: none;
}
body{
    background-image: url('./image//pattern.png');
    font-family: 'Poppins', sans-serif;
}
::selection{
    background-color: green;
    color: #fff;
}
.content{
    margin-top: 13vh;
}
.m-dark{
    box-shadow: rgb(22, 22, 21) 0px 30px 60px -12px,
      rgb(43, 40, 36) 0px 18px 36px -18px;
    background-color: #18191A  !important;
    color: #FFFFFF;
    transition: all 2s ease;
  }
  .m-light{
    box-shadow: rgb(22, 22, 21) 0px 30px 60px -12px,
      rgb(43, 40, 36) 0px 18px 36px -18px;
    background-color: #FFFFFF !important;
    color: black;
    transition: all 2s ease;
  }
  svg{
    width: 2.5rem;
    height: 2.5rem;
    color: rgb(168, 158, 7);
    border: 1px dotted rgb(168, 158, 7);
    border-radius: 50%;
    padding: 1px;
  }